default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: scenario_generator_api_development

test:
  <<: *default
  database: scenario_generator_api_test

production:
  <<: *default
  database: scenario_generator_api_production
  username: postgres
  password: <%= ENV['DATABASE_PASSWORD'] %>
